#clockContainer{
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    height: 50vw;
    width: 50vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
        position: absolute;
        background:  black;
        border-radius: 10px;
        transform-origin: bottom;
}
#hour{
    width: 1.25%;
    height: 12%;
    top: 35%;
    left: 49.4%;
    opacity: 0.8;
}
#minute{
    width: 1%;
    height: 20%;
    top: 27%;
    left: 49.5%;
    opacity: 0.8;
    
}
#second{
    width: 1%;
    height: 27%;
    top: 20%;
    left: 49.5%;
    opacity: 0.8;
}